
.first{
    display: flex;
    border: 3px solid white;
    background-color: white;
}
#y{
    width: 400px;
    height: 40px;
    margin-right: 100px;
    border: none;
    background-color: aliceblue;

}
.one{
   display: flex;
   margin-left:35px ;
   border: none;
}
.yog{
    border: none;
    background-color: aliceblue;
}
.two:hover{
    
    transform: scale(1.3);
}


.two{
    display: flex;
    align-items: center;
}
.tree{
    display: flex;
    align-items: center;
    margin-left: 130px;
}
.tre{
    display: flex;
    align-items: center;
    margin-left: 130px;
}
.tr{
    display: flex;
    align-items: center;
    margin-left: 130px;
}
ul,li{
    background-color: white;
    color: black;
}
.second{
    display: flex;
    
    margin: 30px;
}
.o{
    margin-left: 47px;
    text-align: center;
}

.four{
    display: flex;
    margin-left: 47px;
}

h3{
    margin-left: 10px;

    
}
.fr{
    margin-left: 7px;
    justify-content: space-between;

}
.bd{
    text-align: center;
}
.five{
    display: flex;
    margin-top: 20px;
    gap: 4px;
}

.six{
    display: flex;
    justify-content: space-around;
}
#yp{
    margin-left: 29px;
}
.seven{
    display: inline-block;
    gap: 10px;
    margin-left: 14px;
    
}
#pl{
    margin-left: 20px;
    
}


.eight{
    display: flex;
    justify-content: space-between;
    

}
.e8{
    text-align: center;
    display: flex;
    

}
.e88>img{
    
    height:130px ;
    width: 200px;
}


.nine{
    display: flex;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}
.about:hover{
   
    color: palevioletred;
}
ul,li{
    list-style-type:none;
    background-color: black;
    color: white;
}

.about{
    
    margin-top: 50px;
}
.abt{
    margin-left: 31px;
    margin-top: 43px;
}
.spn{
    margin-left: 31px;
}















